<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893131500358-2j1peh0ugf05nvoeubojoun6dhvpcbnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893131500358-2j1peh0ugf05nvoeubojoun6dhvpcbnf</string>
	<key>API_KEY</key>
	<string>AIzaSyB3DddPbDHDKCF7EHFa7gtKJ4ZYJgB1cwo</string>
	<key>GCM_SENDER_ID</key>
	<string>893131500358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoga.thesuitch</string>
	<key>PROJECT_ID</key>
	<string>iso-yoga</string>
	<key>STORAGE_BUCKET</key>
	<string>iso-yoga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893131500358:ios:32ff6801cf4296d8bd9347</string>
</dict>
</plist>